#conda create -n "threebodies"
#conda activate threebodies
#conda install --file requirements.txt -c conda-forge


python=3.10
numpy
scipy
matplotlib
pandas
pillow
astropy
jupyterlab
jupyter
poliastro
plotly
tornado
pyzmq
numba
pyyaml
jplephem
poliastro
astroquery